{% extends "layout.html.twig" %}

{% block title %}OpenShareFile - {{ "404 Error"|trans }}{% endblock %}

{% block content %}
<div class="alert alert-block margin-top">
{{ "Page not found"|trans }}
</div>
{% endblock %}