<div class="upload modal hide in">
    <header class="modal-header">
        <h3>{{ "Upload in progress"|trans }}</h3>
    </header>
    <div class="modal-body">
        {{ "Upload in progress"|trans }}... <span class="progress-value"></span>
        <div class="progress progress-striped active">
            <div class="bar"></div>
        </div>
    </div>
</div>
<div class="upload-bg"></div>
