{% extends "layout.html.twig" %}

{% block title %}OpenShareFile - {{ "Error"|trans }}{% endblock %}

{% block content %}
<div class="alert alert-block margin-top">
{{ "An error occured"|trans }} : {{ e.message }}
</div>
{% endblock %}