{% extends "layout.html.twig" %}

{% block title %}OpenShareFile - {{ "Security Error"|trans }}{% endblock %}

{% block content %}
<div class="alert alert-error margin-top">
{{ "You are not allowed to access this page"|trans }}
</div>
{% endblock %}